{
	"root": true,
	"extends": "xo",
	"globals": {
		"nodecg": true
	},
	"rules": {
		"new-cap": [
			2,
			{
				"capIsNewExceptions": [
					"nodecg.Replicant"
				],
				"newIsCapExceptions": [
					"chat.client"
				]
			}
		]
	}
}
