.ncg-label(style="margin-top: 0px;") recent subs
    #eol-sublistener_list
    .btn-group.btn-group-justified
        .btn-group
            button#eol-sublistener_clearall.btn.btn-xs.btn-danger(type='button') Clear All