.ncg-label(style="margin-top: 0px;") recent subs
#lfg-sublistener_list
.btn-group.btn-group-justified
    .btn-group
        button#lfg-sublistener_clearall.btn.btn-xs.btn-danger(type='button') Clear All