#sublist.panel.panel-default.panel-span-2
    .panel-heading
        h3.panel-title Recent Subscribers
        i.fa.fa-twitch.panel-icon
    .panel-body
        .control-label(style="margin-top: 0px;") recent subs
        #thelist
        .btn-group.btn-group-justified
                .btn-group
                    button#sublist_clearall.btn.btn-xs.btn-danger(type='button') Clear All